<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  
  <Appenders> <!-- 어디에? -->
    <Console name="STDOUT" target="SYSTEM_OUT"><!-- 어떻게? -->
      <PatternLayout pattern="%d %-5p - %m%n"/>
    </Console>
  </Appenders>
  
  <Loggers>
    <Root level="debug"><!-- 수준 -->
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>

</Configuration>