<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Follow">
	<sql id="sql">
		select * from follow
	</sql>
	<select id="selectAll" resultType="Post"  parameterType="int">
		select to_char(p.content),f.you as pomem_id from follow f, post p where 
		f.me!=#{member_id} and p.pomem_id=f.you group by f.you  ,to_char(p.content)
	</select>
	<select id="selectOne" resultType="Follow" parameterType="int">
		<include refid="sql"/>
		where follow_id=#{follow_id}
	</select>
	
	<insert id="insert"  parameterType="Follow">
		insert into follow (follow_id ,me,you)
		values(seq_follow.nextval,#{me},#{you})
	</insert>
	 <delete id="delete" parameterType="int">
	 	delete from follow where follow_id=#{follow_id}
	 </delete>
	 
	 <select id="followMe" parameterType="int">
	 	<include refid="sql"/>
	 	where me=#{me}
	 </select>
	 
	 <select id="followByMe" parameterType="int">
	 	<include refid="sql"/>
	 	where you=#{you}
	 </select>
	
</mapper>