<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Post">
	<sql id="select">
		select * from post
	</sql>
	
	<!--  나중에 로직 추가해서 내가 팔로우한사람의 게시물만 + (추가로직) 불러오기 -->
	<select id="selectAll" resultType="Post">
		<include refid="select"/>
			order by post_id desc
	</select>
	

	<resultMap type="Post" id="postMap">
		<id column="post_id" property="post_id"/>
		<result column="member_id" property="member_id"/>
		<result column="img_type" property="img_type"/>
		<result column="gps" property="gps"/>
		<result column="path" property="path"/>
		<result column="regdate" property="regdate"/>
		<result column="content" property="content"/>
		<collection property="commentsList" javaType="java.util.ArrayList" ofType="Comments">
			<result column="comments" property="comments"/>
			<result column="comem_id" property="comem_id"/>
			<!-- <id column="comments_id" property="comments_id"/> -->
			<!-- <result column="post_id" property="post_id"/> -->			
			<!-- <result column="regdate" property="regdate"/> -->
		</collection>
		<collection property="memberList" javaType="java.util.ArrayList" ofType="Member">
			<result column="nick" property="nick"/>
		</collection>
	</resultMap>
	
	<select id="selectList" resultType="Post" resultMap="postMap">
		SELECT p.post_id AS post_id,
		p.member_id AS member_id,
		img_type,gps,PATH,content,p.regdate AS regdate,comments,comem_id,
		m.nick as nick
		FROM POST p, COMMENTS c, member m
		WHERE p.post_id = c.post_id and m.member_id=p.member_id
		ORDER BY c.comments_id DESC
	</select>


	<!-- profile에서 내 사진만 불러오는 select문 -->
	<select id="selectMy" resultType="Post" parameterType="int">
		where member_id#{member_id}
	</select>

</mapper>