<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Post">
	<sql id="select">
		select * from post
	</sql>
	
	<!--  나중에 로직 추가해서 내가 팔로우한사람의 게시물만 + (추가로직) 불러오기 -->
	<select id="selectAll" resultType="Post">
		<include refid="select"/>
			order by post_id desc
	</select>
	
	<!-- profile에서 내 사진만 불러오는 select문 -->
	<select id="selectMy" resultType="Post" parameterType="int">
		where member_id#{member_id}
	</select>
</mapper>